<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/pWE08_FormValidation_ T142974/src/cPro03_SortedNumber_T142974.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cPro03_SortedNumber_T142974"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="pWE08_FormValidation_ T142974"/>
</launchConfiguration>
