<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/pWE05_Control_T142974/src/pWE05_Control_T142974/cPro02_SNT_T142974.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pWE05_Control_T142974.cPro02_SNT_T142974"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="pWE05_Control_T142974"/>
</launchConfiguration>
